@import "components/navbar";
@import "components/main";
@import "components/footer";

@import "pages/index";
@import "pages/contact";
@import "pages/resume";
@import "pages/portfolio";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #001F54;
    grid-area: header;
}
main{
    background-color: #034078;
    grid-area: main;
}
footer{
    background-color: #0A1128;
    grid-area: footer;
}
.body_index{
    height:100vh;
    @include display_grid(8%, 200%, 20%);
}
.body_qs{
    main{
        div{
            @include align(center);
            img{
                width: 15em;
                height: 15em;
                border-radius: 150px;
                padding:30px;
            }
        }
    }
    
    height: 100vh;
    @include display_grid(8%, 530%, 20%);
}
@media screen and (min-width:600px){
    .body_index{
        grid-template-rows: 4% 330% 20%;
    }
    .body_qs{
        main{
            div{
                img{
                    width:25em;
                    height: 25em;
                    border-radius: 200px;
                }
            }
        }
        grid-template-rows: 8% 750% 19%;
    }
    .img_portfolio{
        div{
            img{
                width:12em;
                height:12em;
            }
        }
        
    }
    .title{
        font-size: $BIGGER2;
    }
    .parrafo{
        padding:50px;
        font-size: $medium;
    }
    .sectionInd{
        article{
            h2{
                margin:30px;
                font-size: $normal;
            }
            a{
                font-size: $small;
            }
        }
        
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        section{
            @include align(center);
        }
        
    }
    .redes_block{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .cards_port{
        @include display_flex(row);
        flex-direction: row;
        gap: 1em;
        margin: 10px;
        justify-content: center;
        align-self:auto;
    }
    .resume_main{
        padding-left: 2em;
        padding-right: 2em;
        margin: 30px;
        border-radius: 40px;
    }
}
@media screen and (min-width:1240px){
    .img_portfolio{
        div{
            img{
                width: 15em;
                height: 15em;
                margin-left: 20px;
            }
        }
        
    }
    .title{
        font-size: $biggest;
    }
    .parrafo{
        font-size: $medium;
        padding: 80px;
    }
    .sectionInd{
        h2{
            font-size: $high;
            margin: 50px;
        }
        a{
            font-size: $high;
        }
    }
    .body_qs{
        main{
            div{
                img{
                    width: 30em;
                    height: 30em;
                    border-radius: 300px;
                }
            }
        }
        grid-template-rows: 8% 550% 19%;
    }
    .body_index{
        height: 200vh;
        grid-template-columns: 4% 100% 10%;
    }
    .resume_main{
        padding: 4em;

        margin: 50px;
        border-radius: 80px;
    }
    .footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}