@import "base/reset";
@import "components/navbar";
@import "components/main";
@import "components/footer";

@import "pages/index";
@import "pages/contact";
@import "pages/resume";
@import "pages/portfolio";




header{
    background-image: linear-gradient(to left, $azul-secundario,  #004570);
    grid-area: header;
}
main{
    background-image: linear-gradient(to left, $azul-primario,  #005491);
    grid-area: main;
}
footer{
    background-image: linear-gradient(to left, $negro, #001a22);
    grid-area: footer;
}
.body_index{
    @include display_grid(0.5fr, 20fr, 2fr);
}
.body_qs{
    main{
        div{
            @include align(center);
            img{
                width: 15em;
                height: 15em;
                border-radius: 150px;
                padding:30px;
            }
        }
    }
    
    height: 100vh;
    @include display_grid(1fr, 20fr, 2fr);
}
@media screen and (min-width:600px){
    .body_index{
        grid-template-rows: 0.3fr 9fr 0.7fr;
    }
    .body_qs{
        main{
            div{
                img{
                    width:25em;
                    height: 25em;
                    border-radius: 200px;
                }
            }
        }
        
    }
    .img_portfolio{
        div{
            img{
                width:12em;
                height:12em;
            }
        }
        
    }
    .title{
        font-size: $bigger2;
    }
    .contact_title{
        font-size:$bigger2;
    }
    .parrafo{
        padding:3em;
        font-size: $medium;
    }
    .section_ind{
        h2{
            margin:2em;
            font-size: $normal;
        }
        a{
            font-size: $small;
        }
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        div{
            @include align(center);
        }
        
    }
    .redes_block{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .cards_port{
        display:grid;
        grid-template-columns: 1fr 1fr;
        
    
    }
    .resume_main{
        padding-left: 2em;
        padding-right: 2em;
        margin: 30px;
        border-radius: 40px;
    }
    .button_inputs{
        transform: scale(1.3);
    }  
}
@media screen and (min-width:1240px){
    .img_portfolio{
        div{
            img{
                width: 15em;
                height: 15em;
                margin-left: 20px;
            }
        }
        
    }
    .title{
        font-size: $biggest;
    }
    .contact_title{
        font-size:$biggest;
    }
    .parrafo{
        font-size: $medium;
        padding: 80px;
    }
    .section_nd{
        h2{
            font-size: $high;
            margin: 50px;
        }
        a{
            font-size: $high;
        }
    }
    .body_qs{
        main{
            div{
                img{
                    width: 30em;
                    height: 30em;
                    border-radius: 300px;
                }
            }
        }
        
    }
    .resume_main{
        padding: 4em;

        margin: 50px;
        border-radius: 80px;
    }
    .footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .cards_port{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .body_index{
        grid-template-rows: 0.3fr 9fr 1fr;
    }
    .button_inputs{
        transform: scale(1.4);
    }  
}