@import "../base/variables";

.section_ind{
    font-size: $small;
    text-align:center;
    h2{
        font-weight: bold;
        color: $celeste-primario;
        margin:10px;
        font-size: $medium;
    }
    button{
        a{
            text-decoration: none;
            color:$blanco;
        }
        margin-top: 30px;
        background-image: linear-gradient($azul-secundario, $negro);
        padding: 10px;
        border-radius: 20px;
        box-shadow: 4px 4px black;
        border-width: 0px;
        transition: 0.2s;

    }
    
    button:hover{
        transform: scale(1.2);
        transition: 0.2s;
    }
    margin:20px;
}
.parrafo{
    text-align: center;
    font-size:$normal;
    padding: 20px;
    color: $blanco;
    span{
        font-size: $small;
        font-weight: bold;
        color: $celeste-primario;
    }
}
