@import "../base/variables";

.main_portfolio{
    @include display_flex(column);
    
}
.img_portfolio{
    div{
        img{
            width: 11em;
            height: 11em;
            margin: 10px;
        }
    }
    
}
.img_carousel{
    width:1000px;
    height:1000px;
}
.cards_port{
    @include display_flex(column);

    div{
        div{
            background-color: $azul-secundario;
            color: $blanco;
        }
        border: 4px $negro solid;
    }
    gap: $smaller;
    margin: 10px;
    
}
    
.accordeon_items{
    width:95%;
    div{
        div{
            color:$blanco;
            background-color: $azul-secundario;
            

        }
        h2{
            color:$blanco;
            background-color: $azul-secundario;
        }
        button{
            color:$blanco;
            background-color: $azul-secundario;
            border-color: $negro;
            border: 2px $negro solid;

        }
        button:active{
            color:$blanco;
            background-color: $azul-primario;
        }
        border: none;
    
        color:$blanco;
        background-color: $azul-secundario;
    }   
    margin:10px;
    }
.title_card{
    font-size: $normal;
}