@import "../base/variables";

.resume_list{
    li{
        font-size: $medium
    }
    list-style: none;
}
.resume_main{
    section{
        h2{
            font-size: $big;
        }
        ul{
            li{
                div{
                    font-weight:light;
                    font-size: $smaller;
                }
                section{
                    font-size: $small;
                }
            }
        }
    }
    background-color: $celeste-secundario;
    color:$blanco;
    padding-left: 1em;
    padding-right: 1em;
    margin: 30px;
    text-align: left;
    border-radius: 20px;
}