@import "../base/variables";

.resume_list{
    li{
        font-size: $medium;
    }
    list-style: none;
}
.resume_list_software{
    li{
        font-size: $medium;
        gap: 30px;
        @include display_flex(row);
        img{
            width: 50px;
            height: 50px;
        }
    }
    list-style: none;
}
.resume_main{
    
    section{
        h2{
            font-size: $big;
        }
        ul{
            li{
                div{
                    ul{
                        li{
                            font-weight:light;
                            font-size: $smallest;
                        }
                    }
                    
                }
                section{
                    font-size: $small;
                }
            }
            
        }
    }
    background-image: linear-gradient(to left,$celeste-secundario, #1aafd8);
    color:$blanco;
    padding-left: 1em;
    padding-right: 1em;
    margin: 30px;
    text-align: left;
    border-radius: 20px;
}