@import "../base/variables";

.redes_block{
    @include display_flex(row);
    gap: 20px;
    margin-bottom: 20px;
    a{
        img{
            width: 30px;
            height:30px;
            transition: 0.3s;
        }
    }
}
footer{
    @include display_flex(column);
    @include align(center);
    gap: 20px;
    div{
        h2{
            color:$blanco;
            padding: 10px;
            font-size:$smaller;
        }
        h3{
            color:$blanco;
            padding: 10px;
            font-size:$smaller;
        }
    }
}
.redes_block{
    a{
        img:hover{
            transform:scale(1.2);
            transition: 0.3s;
        }
        
    }
}
.libr_pages{
    @include display_flex(row);
    @include align(center);
    font-size: $smallest;
    gap: 10px;
    padding-bottom: 20px;

    a{
        text-decoration: none;
        color: #75a0da;
    }
    a:hover{
        text-decoration: none;
        color: #597aa5;
    }
}
