@import "../base/variables";

.main{
    @include display_flex(column);
    
}
.main_portfolio{
    @include align(center);
}
.title{
    text-align: center;
    color: $celeste-primario;
    font-weight: bold;
    font-size: $bigger;
    margin-top: 50px;
}
