@import "../base/variables";

.nav_bar{
    background-color: $azul-secundario;
    color: $celeste-secundario;
}
.button_bootstrap{
    @include display_flex(column);
    @include align(right);
}
.color_gold{
    color: $celeste-secundario;
}